<div class="container">
    <h1><%= title %></h1>
    <h2>My legal name is Kin Fung Lee</h2>
    <img src="./Assets/images/USA9971.jpg" alt="ImageOfMe" width="300" height="300">
    <p> My English is Kevin. I am come from Hong Kong. I came to Canada to study Software Engineering Technician in Centennial College in the late 2021. 
        I worked in the Customer Service industry for more than 4 years. As dealing customer is not an easy job, I would like to work in the back office 
        which is related to my studies - IT industry.
    </p>
    <p>Open a PDF file <a href="../../../Client/Assets/pdf/CV.pdf">Resume</a>.</p>
    <a href="../../../Client/Assets/pdf/CV.pdf">Resume</a>.
</div>