<div class="container">
    <h1><%= title %></h1>
    <hr>
    
    <h2> Welcome to my page!!!</h2>><br>
    <p>My name is Kevin</p><br>
    <p>I finished my Software Engineering Technician in Centennial College and looking for a job related to the IT industry.</p><br>
    <p>My mission is to apply what I learn in school and keep learning the IT knowledge which I can change the world. </p><br>

    <h3>If you want to know more about me. Please click &nbsp&nbsp <a href="../content/about.ejs" class="link">here</a></h3>
</div>