<div class="container">
    <h1><%= title %></h1>
    <hr>
    
    <p> Welcome to my page!!!</p><br>
    <p>My name is Kevin</p><br>
    <p>I finished my Software Engineering Technician in Centennial College and looking for a job related to the IT industry.</p><br>
    <p>My mission is to apply what aI learn </p>

    <h3>If you want to know more about me. Please </h3>
</div>