<div class="container">
    <h1><%= title %></h1><br>
    <h2>These are the projects that I would like to highlight</h2><br>
    <h3>Project 1: </h3>
    <img src="../../../Client/Assets/Project/Project1/Project1.png"alt=""

    <img src="./Assets/images/USA9971.jpg" alt="ImageOfMe" width="250" height="250"><br><br>
</div>