<div class="container">
    <h1><%= title %></h1><br>
    <h2>These are the projects that I would like to highlight</h2><br>
    <h3>Project 1: </h3>
    <a href="./Assets/Project/Project1/Assignment 3.html">Link</a></p>
    <img src="./Assets/Project/Project1/Project1.png"alt="Project1" width="1100" height="500"><br><br>
    <p>As I student, I learnt how to create a website to introduce a product for the user. </p><br><br>

    <h3>Project 2:</h3>
    <a href="./Assets/Project/Project2/assignment6.html">Link</a></p>
    <img src="./Assets/Project/Project2/Project2.png"alt="Project2" width="1100" height="500"><br>
    <p>As I student, I learn how to apply API to create a weather forecast that searched by city or coordinate. </p><br><br>

    <h3>Project 3:</h3>
    <a href="./Assets/Project/Project3/Project.html">Link</a></p>
    <img src="./Assets/Project/Project3/Project3.png"alt="Project3" width="1100" height="500"><br>
    <p>As I student,  </p><br><br><br>


</div>