<div class="container">
    <h1><%= title %></h1><br>
    <h2>These are the projects that I would like to highlight</h2><br>
    <h3>Project 1: </h3>
    <a href="./Assets/Project/Project1/Assignment 3.html">Link</a></p>
    <img src="./Assets/Project/Project1/Project1.png"alt="Project1" width="1100" height="500"><br><br>
    <p>I selected 2022 Subaru Outback as a product to set up a website which introduce it for one of my assignment. </p><br><br>

    <h3>Project 2:</h3>
    <a href="./Assets/Project/Project2/assignment6.html">Link</a></p>
    <img src="./Assets/Project/Project2/Project2.png"alt="Project2" width="1100" height="500"><br>
    <p>I created a weather forecast by API which users can search for a weather by the location or coordinate. </p><br><br>

    <h3>Project 3:</h3>
    <a href="./Assets/Project/Project3/Project.html">Link</a></p>
    <img src="./Assets/Project/Project3/Project3.png"alt="Project3" width="1100" height="500"><br>
    <p>I created a website for a Real Estate Agent as one of my assignment. </p>

    <h3>Project 3:</h3>
    <a href="./Assets/Project/Project3/Project.html">Link</a></p>
    <img src="./Assets/Project/Project3/Project3.png"alt="Project3" width="1100" height="500"><br>
    <p>I created a website for a Real Estate Agent as one of my assignment. </p>

</div>