<div class="container">
    <h1><%= title %></h1>

    <h2>Services that I offered</h2>
    <ul>
        <li>Web development</li>
        <img src="./Assets/images/web.jpeg"alt="Web" width="1100" height="500"><br>
        <li>C#</li>
        <img src="./Assets/images/Cc#.png"alt="Cc#" width="1100" height="500"><br>
        <li>Database</li>
        <img src="./Assets/images/db.jpeg"alt="DB" width="1100" height="500"><br>
        <li>Python</li>
        <img src="./Assets/images/python.jpg"alt="Python" width="1100" height="500"><br>
    </ul>
</div>