<div class="container">
    <h1><%= title %></h1>

    <h2>Services that I offered</h2>
    <ul>
        <li>Web development</li>
        <img src="./Assets/images/web.jpeg"alt="PWeb" width="1100" height="500"><br>
        <li>C#</li>
    </ul>
</div>